/* Styles for the APOD viewer */

.apod {
  margin: auto;
  width: 95%;
}

.apod-date-picker-container {
  display: inline-block;
}
.apod-actions-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-flow: row wrap;
  width: 100%;
}

.apod-date-picker-container,
.random-pic-btn,
.today-pic-btn {
  margin-right: 20px;
}

.apod-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;

  margin: 20px auto;
}

.apod-media-container {
  border: 1px solid white;
  width: 50%;
}

.media-image {
  border: solid 1px white;
  display: inline-block;
  margin: auto;
  height: 100%;
  width: 100%;
}

.apod-display-text-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}

.apod-display-date,
.apod-display-title {
  font-size: 20px;
}

.apod-display-explanation {
  font-size: 16px;
  text-align: justify;
}

/* Large Tablet Portrait */

@media only screen and (max-width: 1024px) {
  .apod-media-container {
    width: 100%;
  }

  .apod-display-text-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
 
  .apod{
    width:90%;
  }

  .apod-date-picker-container,
  .random-pic-btn,
  .search-btn,.today-pic-btn {
    margin: 0px;
    width: 100%;
  }

  .date-picker{
    margin:auto;
  }
  .apod-date-picker-container {
   
    order: 3;
 
  }

  .today-pic-btn {

    order: 4;
 
  }

  .random-pic-btn {
    order: 5;
  }

  .today-pic-btn {
  }

  .search-btn {
  }
}
