/* Styles for the APOD viewer */

.apod {
  margin: auto;
  width: 95%;
}

.apod-header {
  background-image: url('../images/galaxy.jpg');
  border: 1px solid white;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.search-btn-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.apod-headline {
  font-size: clamp(36px, 3vw, 50px);
}

.search-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.apod-actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: row wrap;
  margin: 0px auto 25px;
  width: 100%;
}

.search-date-label {
  margin: 0;
}

.random-pic,
.today-pic {
  margin: 0 0 0 10px;
}

.random-pic:hover,
.today-pic:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.apod-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;

  margin-top: 30px;
}

.apod-media-container {
  width: 50%;
}

.media-image {
  border: solid 1px white;
  display: inline-block;
  margin: auto;
  height: 100%;
  width: 100%;
}
.media-video {
  border: solid 1px white;
}

.apod-display-text-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}

.apod-display-date,
.apod-display-title {
  font-size: 20px;
}

.apod-display-explanation {
  font-size: 16px;
  text-align: justify;
}

/* Large Tablet Portrait */

@media only screen and (max-width: 1024px) {
  .apod-media-container {
    width: 100%;
  }

  .apod-display-text-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .apod {
    width: 90%;
  }

  .apod-actions-container {
    justify-content: space-around;
    margin: 15px 0;
  }

  .random-pic {
    margin: 0;
    order: 1;
  }

  .today-pic {
    margin: 0;
    order: 2;
  }

  .apod-date-picker-wrapper {
    margin: 10px;
    order: 3;
    width: 100%;
  }

  .apod-date-picker-container {
    margin: auto;
    width: 50%;
  }
}
