.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  width: 100%;
}

.error-message {
  font-size: clamp(18px, 5vw, 30px);
  text-align: center;
}


.error-image {
   display: block;
   margin: auto;
   width: 25%;
}