.search {
  margin: auto;
  width: 95%;
}

.search-bar {
  margin: 40px auto;
  width: 33%;
}

.submit-search-button {
  /* Prevent button from appearing over top of modal overlay and content */
  z-index: 0 !important;
}

.grid-container {
  column-count: 6;
  column-gap: 0px;
  margin: 20px auto;
  -webkit-column-count: 6;
  -webkit-column-gap: 5px;
  -moz-column-count: 6;
  -moz-column-gap: 5px;
  width: 95%;
}

.grid-item {
  background: transparent;
  border: none;
  height: 100%;
  padding: 5px;
  width: 100%;
}

.grid-item:hover {
  cursor: pointer;
}

.grid-item-thumbnail {
  border: 1px solid white;
  display: block;
  width: 100%;
}

.grid-item-thumbnail:hover {
  border: 1px solid rgb(153, 51, 204);
}

.grid-item-title {
  margin: auto;
  padding: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 25px auto;
}

.pagination-page-count {
  margin: 0 10px;
}

/* MODAL STYLES */
.ReactModal__Body--open {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.ReactModal__Content--after-open {
  background-color: black !important;
}

.modal-content-window {
  height: auto;
  margin: auto;
  max-height: 90%;
  overflow: auto;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  width: 66%;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-wrapper {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-flow: row wrap;
}

.close-modal-btn-container {
  align-self: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.close-modal-btn {
  float: right;
}

.modal-content-container {
  align-self: center;
  height: 100%;
  width: 95%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}

.modal-image {
  border: 1px solid white;
  display: inline-block;
  height: auto;
  width: 45%;
}

.modal-text-container {
  width: 45%;
}

.modal-headline {
  font-size: clamp(18px, 2vw, 40px);
}

/* ipad pro landscape */

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .modal-content-window {
    padding-bottom: 50px;
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }

  .modal-content-window {
    padding-bottom: 50px;
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .search-bar {
    width: 50%;
  }

  .grid-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .search-bar {
    width: 100%;
  }

  .grid-container {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }

  .modal-image {
    width: 100%;
  }

  .modal-text-container {
    margin-top: 15px;
    width: 100%;
  }
}
